In [1]:
import pandas as pd

shift + enter to run!

In [ ]:
import csv

with open('titanic.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    gender_list = []

In [12]:
# without using pandas

import csv

with open('titanic.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    gender_ls = []
    survive_ls = []
    for row in csv_reader:
        gender_ls.append(row[4])
        survive_ls.append(row[1])

gender_ls = gender_ls[1:]  
survive_ls = survive_ls [1:]

female_index = [i for i, j in enumerate(gender_ls) if j == 'female']
print(female_index)
female_survived_not_survived = [survive_ls[i] for i in female_index]

num_female_survived = len([i for i, j in enumerate(female_survived_not_survived) if j == '1'])
print(num_female_survived)

[1, 2, 3, 8, 9, 10, 11, 14, 15, 18, 19, 22, 24, 25, 28, 31, 32, 38, 39, 40, 41, 43, 44, 47, 49, 52, 53, 56, 58, 61, 66, 68, 71, 79, 82, 84, 85, 88, 98, 100, 106, 109, 111, 113, 114, 119, 123, 128, 132, 133, 136, 140, 141, 142, 147, 151, 156, 161, 166, 167, 172, 177, 180, 184, 186, 190, 192, 194, 195, 198, 199, 205, 208, 211, 215, 216, 218, 229, 230, 233, 235, 237, 240, 241, 246, 247, 251, 254, 255, 256, 257, 258, 259, 264, 268, 269, 272, 274, 275, 276, 279, 289, 290, 291, 293, 297, 299, 300, 303, 306, 307, 309, 310, 311, 312, 315, 316, 318, 319, 322, 323, 325, 327, 328, 329, 330, 334, 337, 341, 345, 346, 347, 356, 357, 358, 359, 362, 366, 367, 368, 369, 374, 375, 376, 380, 381, 383, 387, 389, 393, 394, 396, 399, 402, 404, 409, 412, 415, 416, 417, 419, 423, 426, 427, 431, 432, 435, 436, 437, 440, 443, 446, 448, 457, 458, 469, 472, 473, 474, 479, 483, 485, 486, 496, 498, 501, 502, 503, 504, 506, 513, 516, 518, 520, 523, 526, 530, 533, 534, 535, 537, 539, 540, 541, 542, 546, 554, 556, 558, 559, 564, 567, 571, 573, 576, 577, 578, 580, 581, 585, 591, 593, 596, 600, 608, 609, 610, 612, 615, 617, 618, 627, 634, 635, 638, 641, 642, 644, 649, 651, 653, 654, 657, 669, 670, 677, 678, 680, 689, 691, 697, 700, 702, 706, 708, 710, 716, 717, 720, 726, 727, 729, 730, 736, 742, 747, 750, 754, 759, 763, 765, 767, 772, 774, 777, 779, 780, 781, 786, 792, 796, 797, 799, 801, 807, 809, 813, 816, 820, 823, 829, 830, 835, 842, 849, 852, 853, 854, 855, 856, 858, 862, 863, 865, 866, 871, 874, 875, 879, 880, 882, 885, 887, 888]
233

In [16]:
import csv

# Without pandas 

with open('titanic.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')

    counter = 0
    for row in csv_reader:
        
        if (row[1] == '1') & (row[4] == 'female'):
            counter += 1
print(counter)

233

In [3]:
# Using pandas

import pandas as pd

df = pd.read_csv('titanic.csv')

len(df[(df['Sex'] == 'female') & (df['Survived'] == 1)])

233

In [10]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [9]:
df.info

<bound method DataFrame.info of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]>