In [1]:
import pandas as pd

adf = pd.DataFrame(data={'x1': ['A', 'B', 'C'], 'x2' :[1,2,3]})

In [2]:
adf

  x1  x2
0  A   1
1  B   2
2  C   3

In [3]:
bdf = pd.DataFrame(data={'x1': ['A', 'B', 'D'], 'x3': ['T', 'F', 'T']})

In [4]:
bdf

  x1 x3
0  A  T
1  B  F
2  D  T

## Merge adf and bdf based on adf

In [5]:
pd.merge(adf, bdf, how='left')

  x1  x2   x3
0  A   1    T
1  B   2    F
2  C   3  NaN

## Merge based on bdf

In [7]:
pd.merge(adf, bdf, how='right')

  x1   x2 x3
0  A  1.0  T
1  B  2.0  F
2  D  NaN  T

## Merge adf and bdf based on what they have in common

In [8]:
pd.merge(adf, bdf, how='inner')

  x1  x2 x3
0  A   1  T
1  B   2  F

if we do not specify, the DEFAULT VALUE is INNER

## Union of merge for adf and bdf

In [11]:
pd.merge(adf, bdf, how='outer')

  x1   x2   x3
0  A  1.0    T
1  B  2.0    F
2  C  3.0  NaN
3  D  NaN    T

### order of adf and bdf changes whether abcd or abdc

## Appending Pandas dataframe

In [12]:
pd.concat([adf, bdf], sort=True)

  x1   x2   x3
0  A  1.0  NaN
1  B  2.0  NaN
2  C  3.0  NaN
0  A  NaN    T
1  B  NaN    F
2  D  NaN    T

## When two dataframes have exactly the same columns

In [15]:
# 1,2 first row
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

df = df.append(df2, ignore_index=True)

In [16]:
df

   a  b
0  1  2
1  3  4
2  5  6
3  7  8